@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

.project-card {
  text-align: left;
  justify-content: space-between;
  font-family: 'Righteous', cursive;
  width: 85%;
  margin: auto;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #4A3DD8, 4px 4px 0px #D81CC8, 6px 6px 0px #F63B5D;
  font-size: 13px;
  margin-bottom: 50px;
}

.project-card p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.project-card img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-info {
  padding: 10px 15px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.project-info h2, h3 {
  text-transform: uppercase;
}

.project-info h3 {
  color: #ffffffa6;
  font-weight: lighter;
}

.project-btn {
  background-color: #EA0A0A;
  box-shadow: 5px 0px 0px #CD0707;
  border-radius: 9px;
  border: none;
  color: white;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  width: 93px;
  height: 35px;
}

.project-btn-link {
  width: 93px;
  align-self: end;
}

.project-btn:active {
  transform: translate(5px);
  box-shadow: none;
}

@media only screen and (min-width: 769px) {
  .project-card {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .project-card {
    display: flex;
  }

  .project-card img {
    min-width: 300px;
    max-width: 350px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .project-info {
    width: 100%;
    margin: 10px;
  }

  .project-btn, .project-btn-link {
    width: 100px;
    cursor: pointer;
  }

  .project-btn:active {
    transform: translate(5px);
    box-shadow: none;
  }
}