@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #04030F;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'Righteous', cursive;
  font-weight: lighter;
  letter-spacing: 0.085em;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
}

a:hover {
  color: #F63B5D;
}

.btn {
  font-family: 'Righteous', cursive;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 9px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}